name: markdown-links
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  schedule:
    - cron: "0 18 * * *"
jobs:
  markdown-links:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Check links in modified Markdown files
      if: github.event_name == 'pull_request'
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        base-branch: main
        check-modified-files-only: yes
        use-verbose-mode: yes
    - name: Check links in all Markdown files
      if: github.event_name != 'pull_request'
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-verbose-mode: yes
