name: markdown-links
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  schedule:
    - cron: "0 18 * * 1"
  workflow_dispatch:
jobs:
  markdown-links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - name: Check links in modified Markdown files
        if: github.event_name == 'pull_request'
        uses: gaurav-nelson/github-action-markdown-link-check@d53a906aa6b22b8979d33bc86170567e619495ec # 1.0.15
        with:
          base-branch: main
          check-modified-files-only: yes
          use-verbose-mode: yes
          config-file: .github/markdown-links.json
      - name: Check links in all Markdown files
        if: github.event_name != 'pull_request'
        uses: gaurav-nelson/github-action-markdown-link-check@d53a906aa6b22b8979d33bc86170567e619495ec # 1.0.15
        with:
          use-verbose-mode: yes
          config-file: .github/markdown-links.json
