name: tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
jobs:
  syntax:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install fish shell
        uses: fish-actions/install-fish@v1
      - name: Syntax check fish files
        uses: fish-shop/syntax-check@v1
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Fetch repository history for access to tags in tests
        run: git fetch --prune --unshallow --tags
      - name: Install fish shell
        uses: fish-actions/install-fish@v1
      - name: Install fishtape
        uses: fish-shop/install-plugin@v1
        with:
          plugin-manager: fisher
          plugins: jorgebucaran/fishtape
      - name: Install pond
        uses: fish-shop/install-plugin@v1
        with:
          plugin-manager: fisher
          plugins: (pwd)
      - name: Run Fishtape tests
        uses: fish-shop/run-fishtape-tests@v1
        with:
          pattern: tests/**.fish
  install:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        plugin-manager: [fisher, oh-my-fish, plug.fish]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Install fish shell
        uses: fish-actions/install-fish@v1
      - name: Install pond using ${{ matrix.plugin-manager }}
        uses: fish-shop/install-plugin@v1
        with:
          plugin-manager: ${{ matrix.plugin-manager }}
          plugins: (pwd)
      - name: Check pond is installed
        run: functions -q pond
        shell: fish {0}
