name: Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  workflow_dispatch:

permissions: read-all

jobs:
  indentation:
    name: Indentation check
    runs-on: ubuntu-latest
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Install fish shell
        uses: fish-shop/install-fish-shell@d51ac6a5f52340c068ecfec429e545233fc5bcd0 # v2.0.33
      - name: Check indentation
        uses: fish-shop/indent-check@2fa9924310bb3324eb507281a95e85ded2c05f71 # v2.2.79
  syntax:
    name: Syntax check
    runs-on: ubuntu-latest
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Install fish shell
        uses: fish-shop/install-fish-shell@d51ac6a5f52340c068ecfec429e545233fc5bcd0 # v2.0.33
      - name: Syntax check fish files
        uses: fish-shop/syntax-check@12db6783b6dd965348cac52ed3f0bb9fc73574ed # v2.2.78
  tests:
    name: Unit tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Fetch repository history for access to tags in tests
        run: git fetch --prune --unshallow --tags --force
      - name: Install fish shell
        uses: fish-shop/install-fish-shell@d51ac6a5f52340c068ecfec429e545233fc5bcd0 # v2.0.33
      - name: Install pond
        uses: fish-shop/install-plugin@e70d1e6ac567df7557dda5f2b9d3ec12f23eed8e # v2.3.81
        with:
          plugin-manager: fisher
          plugins: ${{ github.workspace }}
      - name: Run Fishtape tests
        uses: fish-shop/run-fishtape-tests@70850648ab66040938cdf020e35577f3c4ed8fed # v2.3.81
        with:
          patterns: tests/**.fish
  install:
    name: Install tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        plugin-manager: [fisher, oh-my-fish]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Install fish shell
        uses: fish-shop/install-fish-shell@d51ac6a5f52340c068ecfec429e545233fc5bcd0 # v2.0.33
      - name: Install pond using ${{ matrix.plugin-manager }}
        uses: fish-shop/install-plugin@e70d1e6ac567df7557dda5f2b9d3ec12f23eed8e # v2.3.81
        with:
          plugin-manager: ${{ matrix.plugin-manager }}
          plugins: ${{ github.workspace }}
      - name: Check pond is installed
        run: functions -q pond
        shell: fish {0}
