name: Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  workflow_dispatch:

permissions: read-all

jobs:
  indentation:
    name: Indentation check
    runs-on: ubuntu-latest
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install fish shell
        uses: fish-shop/install-fish-shell@b8be84e738243b1ab82ca5bcb9ba6736fa0bd6b6 # v2.0.30
      - name: Check indentation
        uses: fish-shop/indent-check@1f7b11d629b048475bc569cdaa1e8d0df803756a # v2.2.76
  syntax:
    name: Syntax check
    runs-on: ubuntu-latest
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install fish shell
        uses: fish-shop/install-fish-shell@b8be84e738243b1ab82ca5bcb9ba6736fa0bd6b6 # v2.0.30
      - name: Syntax check fish files
        uses: fish-shop/syntax-check@4da893d3355241b28dd6f3fdfcd678272cf61b49 # v2.2.75
  tests:
    name: Unit tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Fetch repository history for access to tags in tests
        run: git fetch --prune --unshallow --tags --force
      - name: Install fish shell
        uses: fish-shop/install-fish-shell@b8be84e738243b1ab82ca5bcb9ba6736fa0bd6b6 # v2.0.30
      - name: Install pond
        uses: fish-shop/install-plugin@d98b9d07f4c8f6c270ba8eaf89e9fde224607b2e # v2.3.78
        with:
          plugin-manager: fisher
          plugins: ${{ github.workspace }}
      - name: Run Fishtape tests
        uses: fish-shop/run-fishtape-tests@652013c25fc5a439636da9d381a5b3bd076c2910 # v2.3.78
        with:
          patterns: tests/**.fish
  install:
    name: Install tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        plugin-manager: [fisher, oh-my-fish]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install fish shell
        uses: fish-shop/install-fish-shell@b8be84e738243b1ab82ca5bcb9ba6736fa0bd6b6 # v2.0.30
      - name: Install pond using ${{ matrix.plugin-manager }}
        uses: fish-shop/install-plugin@d98b9d07f4c8f6c270ba8eaf89e9fde224607b2e # v2.3.78
        with:
          plugin-manager: ${{ matrix.plugin-manager }}
          plugins: ${{ github.workspace }}
      - name: Check pond is installed
        run: functions -q pond
        shell: fish {0}
